.Pokedex {
    text-align: center;
}
.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    font-size: 2rem;
    color: green;
}

.Pokedex-loser{
    font-size: 2rem;
    color: #e91e63;
}